# Folder virtual environmentb
ENV/

# File database sqlite
db.sqlite3

# Folder sementara Python
__pycache__/
*.py[cod]
*$py.class

# Log file
*.log

# File editor
.vscode/
.idea/

# File cache Django
*.mo
*.pot

# Media upload user
/media/

# Static file collectstatic (optional jika dikumpulkan ke staticfiles/)
staticfiles/

# CKEditor upload (jika ada)
ckeditor_uploads/
